@font-face {
    font-family: 'Hacked';
    src: url('HACKED.ttf') format('woff2');
}

@font-face {
    font-family: 'Helvetica';
    src: url('helvetica-77-bold-condensed.otf') format('woff2');
}


:root {
    --cor-primaria: #FF3030;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #000000;
    --cor-quatro: #FF3030;

    --fonte-primaria: 'Hacked', sans-serif;
    --fonte-secundaria: 'Helvetica', sans-serif;

}

body{
    /*height: 100vh;*/
    position: relative;
    margin: 0;
    padding: 0;
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
}

#particles-js{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; 
    
}
/* body::before{
    content: "";
    background-image: url(/imagens/dedsec.gif);
    background-size: 100%;
    width: 100%;
    height: 100%;
    background-position: center;
    position: absolute;
    opacity: 15%;
    background-repeat: no-repeat;
    z-index: -1;
    
} */
  
strong{
    color: var(--cor-primaria);
    text-shadow: 2px 2px 4px var(--cor-secundaria);
}


.cabecalho__header{
    padding: 0.6rem;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 1%;
}
.cabecalho__itens{
    text-decoration: none; 
    cursor: pointer;
    margin: 1rem 0;
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px var(--cor-primaria);
    
}
.cabecalho__itens:hover{
    color: var(--cor-primaria);
    text-decoration: underline 3px;
}

.cabecalho__itens img{
    width: 24px;
    height: 24px;
    
}

.cabecalho__itens a{
    text-decoration: none;
    color: var(--cor-oin);
}

/* itens mobile */

.cabecalho__itens__mobile{
    text-decoration: none; 
        cursor: pointer;
        margin: 1rem 0;
        color: var(--cor-secundaria);
        font-family: var(--fonte-primaria);
        font-size: 1.5rem;
        text-shadow: 2px 2px 4px var(--cor-primaria);
    }
    .cabecalho__itens__mobile img{
        width: 24px;
        height: 24px;
        
    }
    .cabecalho__itens__mobile a{
        text-decoration: none;
        color: var(--cor-oin);
    }

/* Bandeiras de idioma */
.cabecalho__itens__idioma{
    display: flex;
    gap: 1rem;
}
.cabecalho__itens__idioma{
    width: 3.125rem;
    border-radius: 0.2rem; 
    cursor: pointer;
}
.cabecalho__itens__idioma img{
    width: 100%;
    height: 100%;
} 

/* Bandeira de Idioma Mobile */

.cabecalho__itens__idioma__mobile{
    display: flex;
    gap: 1rem;
}
.cabecalho__itens__idioma__mobile{
    width: 3.125rem;
    border-radius: 0.2rem; 
    cursor: pointer;
}
.cabecalho__itens__idioma__mobile img{
    width: 100%;
    height: 100%;
}


.mobile-menu-icon{
    display: none;
}
.mobile-menu{
    display: none;
}

/* APRESENTAÇÃO */
.apresentacao__projeto{
    padding: 6% 15%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    text-shadow: 2px 2px 4px var(--cor-primaria);
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    text-shadow: 2px 2px 4px var(--cor-primaria);
    text-align: justify;
}

#textoIdiomatexto{
    text-align: center;
}
.imagens{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.sombra img{
    width: auto;
    height: auto;
    top: auto;
    left: auto;
    border-radius: 1rem;
    box-shadow: 20px 20px 20px var(--cor-primaria);
}



/* FOOTER */
.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    border-top: 2px solid var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    text-shadow: 2px 2px 4px var(--cor-primaria);
    padding: 1.5em;
}

@media (max-width: 43.75rem){
    .body::before{
        background-image: none;
    }

    .cabecalho__itens{
        display: none;
    }
    .cabecalho__itens__idioma{
        display: none;
    }
    .mobile-menu-icon{
        display: block;
    }
    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        padding: 1rem 3rem;
    }

    .mobile-menu a{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .mobile-menu .cabecalho__itens__mobile {
        display: block;
        padding: 0.5rem;
        border: 2px solid var(--cor-primaria);
        border-radius: 1rem;
    }

    .mobile-menu  .cabecalho__itens__idioma__mobile{
        display: block;
        padding: 0.5rem;
       
    } 

    .open {
        display: block;
    }

    .cabecalho__menu{
        padding: 0%;
    }

    #particles-js {
        position: unset; /* ou position: static; */
        top: unset;
        left: unset;
        bottom: unset;
        right: unset;
        width: 100%;
        height: 100%;
    }
    .particles-js-canvas-el{
        display: none;
    }

    
}
@media (max-width: 75rem){
    .imagens{
        flex-direction: column-reverse;
        padding: 5%;
    } 
}

